---
layout: page
title: About
permalink: /about/
---

<img src="/noam_shadow_cropped.png" height="200px" class="profile-image">

<br>

<b>About:</b> I am a PhD student at JHU in Baltimore, where I am advised by
<a href="https://www.cs.jhu.edu/~ilyas/">Ilya Shpitser</a>. My research
interests include causal inference, missing data, and dynamic treatment regimes.
I focus on deriving and estimating bounds for counterfactual targets of
inference and optimal policies that are not identified from observed data.

<br>
<br>

<b>Motivation:</b> Medical records data is well known to suffer from a wide
range of problems related to selection bias and confounding. Many vital
questions about treatment effects and policy decisions cannot be answered
exactly from such data, due to a lack of identification under any causal model
that accounts for all relevant biases. My work is geared towards developing
methods that can extract all information present in the data relevant to a
question about a treatment effect or policy when no exact answer is available,
with the goal of expanding the domain of questions that can be rigorously
addressed using this growing resource.

<br>
<br>

<b>Contact:</b> You can reach me by email ({first name}@jhu.edu), or on twitter
(<a href="https://twitter.com/nsfinkelstein">nsfinkelstein</a>). 
