<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <!-- {% include footer.html %} -->

    <!-- count visits. to view: -->
    <!-- https://counter.websiteout.net/compte.php?S=noamfinkelstein&C=0&D=12&N=0&M=0 -->
    <img src="//counter.websiteout.net/compte.php?S=noamfinkelstein&C=0&D=12&N=0&M=0" alt="" border="0" height="0px" width="0px" />

  </body>

</html>
